
<div class="container py-4 pt-5">
  <h2 class="mb-4">All Products</h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <% products.forEach(product => { %>
      <div class="col">
        <div class="card h-100 shadow">
            <img src="<%= product.imageDefault %>" class="card-img-top" alt="<%= product.title %>">
          <div class="card-body">
            <h5 class="card-title"><%= product.title %></h5>
            <p class="card-text"><%= product.description %></p>
            <p class="fw-bold">Rs <%= product.price %></p>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <a href="/admin/products/edit/<%= product._id %>" class="btn btn-sm btn-primary">Edit</a>
            <form action="/admin/products/delete/<%= product._id %>" method="POST">
              <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>

