<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Percival Clothing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/sidebar.js"></script>
</head>
<body>
    <div class="bg-black text-white text-center py-2 fixed-top"">
        Free shipping to Pakistan on all orders above Rs39,050
    </div>
    <div class="discount">
        15% OFF
    </div>

    <%- include('./partials/header.ejs') %>

    <% if (locals.flash) { %>
        <div class="alert alert-<%= locals.flash.type %> text-center pt-5">
            <%= locals.flash.message %>
        </div>
    <% } %>


    <%- body %>
    
    <%- include('./partials/footer.ejs') %>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
